* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NAVBAR شفافة */
.custom-navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background: transparent;
    padding: 15px 20px;
}

/* MENU ICON */
.menu-toggle {
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/* FULLSCREEN MENU */
.menu-fullscreen {

    position: fixed;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100vh;
    background: rgba(240, 203, 143, 0.034);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    z-index: 2000;
}
.menu-fullscreen.active {
    left: 0;
}
.menu-fullscreen ul {
    list-style: none;
    text-align: center;
}

.menu-fullscreen ul li {
    margin: 20px 0;
    font-weight: 700;
    font-family: "Dancing Script", cursive;
}

.menu-fullscreen ul li a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    transition: 0.3s;
}

.menu-fullscreen ul li a:hover {
    color: #d98c2b;
    transform: scale(1.2);
}

/* CLOSE BUTTON */
.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#zahra{
    margin-top: 200px;
}
.hero-container {
    display: flex;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    /* gap: 0 !important; */
    /* padding: 0px !important;
    margin: 0px !important; */
    
}

.card {
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    flex: 1;
    position: relative;
    transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 0px;
    margin: 0 !important;
    padding: 0 !important;
    
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: background 0.5s ease;
}

.card.active {
    flex: 2;
}

.card.active::before {
    background: rgba(0, 0, 0, 0.1);
}

.content {
    z-index: 10;
    padding: 0 20px;
}

.content h2 {
    font-size: 2.5rem;
    font-family: 'Arial Black', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    opacity: 0.9;
}

.content p {
    font-family: 'Cursive', serif;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

#id2 {
    margin-bottom: 60px;
}

#id4 {

    margin-bottom: 60px;

}

/* Bouton */
.btn-book {
    background-color: white;
    color: black;
    border: none;
    padding: 15px 40px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: none !important;
    transition: transform 0.3s;
}

.btn-book:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;
    }

    .card.active {
        flex: 3;
    }
}
